//LOGIN & REGISTER

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 150, 255, 0.55);
  height: 100vh;
}

.title {
  width: auto;
  height: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.company-name {
  height: auto;
  width: auto;
}

.form-style {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 40vh;
  border-radius: 20px;
  min-width: 400px;
}

.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.login-form,
.register-form {
  border-width: 2px;
  border-radius: 5%;
  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background: hsl(0deg 0% 100%);
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  padding: 15px;
  display: flex;
  border: none;
  border-bottom: 1px solid grey;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: hsl(0deg 0% 30%);
  margin-bottom: 10px;
  cursor: pointer;
}

.login-button,
.register-button {
  background: white;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  padding: 15px;
  display: flex;
  border: none;
  border-bottom: 1px solid grey;
  flex-direction: column;
  border-radius: 20px;
  color: hsl(0deg 0% 30%);
  margin-bottom: 10px;
  cursor: pointer;
  width: 50%;
  align-items: center;
  margin-left: 1vw;
}
