.about-section {
  display: flex;
  flex-direction: column;
  padding: 40px; // Padding around the section
  background-color: #f7f7f7;

  .about-header {
    text-align: center;
    background-color: #e8eaf6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px; // Space between the header and content

    h2 {
      color: #3949ab;
      font-size: 2.8em;
      margin-bottom: 0.5em; // Space between the title and the paragraph
    }

    p {
      color: #5c6bc0;
      font-size: 1.3em;
      margin-bottom: 1em; // Space between the paragraph and the content below
    }
  }

  .about-content {
    display: flex;
    justify-content: space-between; // Space between the facts and the image
    align-items: center; // Align items to the start of the flex container
    width: 100%; // The content container takes the full width of its parent
    margin: 0 auto; // Centers the content
    background-color: #ffffff; // White background for content area
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Adding a subtle shadow

    .facts-container {
      flex: 1; // Allows the container to grow and take up space
      margin-right: 40px;

      h3 {
        font-size: 1.5em;
        margin-bottom: 1em;
        text-align: center;
      }

      .facts-list {
        list-style: none;
        padding: 20px;
        margin: 0;

        .fact-item {
          position: relative;
          margin: 20px 0;
          padding-left: 50px;
          font-size: 1.2em;

          &::before {
            content: "✔";
            font-size: 1.5em;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px; // Ensures the line has width
          }

          // Assign colors to each fact item
          &.fact-1 {
            color: blue;
          }
          &.fact-2 {
            color: red;
          }
          &.fact-3 {
            color: grey;
          }
          &.fact-4 {
            color: orange;
          }
          &.fact-5 {
            color: purple;
          }
          &.fact-6 {
            color: green;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 10px;
            width: 100%;
            max-width: 350px;
            height: 2px;
            background: currentColor;
          }
          &:first-child::after {
            background: blue; // Top border color for the first item
          }

          &:last-child::after {
            // If you want the last item to have no bottom border
            display: none;
          }
        }
      }
    }
  }

  .about-video-container {
    flex-grow: 2; // Gives the video container more room to grow
    max-width: 100%; // Ensures it doesn't exceed its parent container
    padding: 20px;

    iframe {
      width: 100%; // Relative to its parent container
      height: auto; // Maintain aspect ratio
      border: none;
      aspect-ratio: 16 / 9; // Maintains a 16:9 aspect ratio
      max-width: 800px; // Ensure it doesn't overflow its container
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column; // Stacks the elements vertically on smaller screens

      .facts-container,
      .about-video-container {
        width: 100%; // Takes the full width on smaller screens
        padding: 0;
        max-width: none; // Removes any max-width constraints
      }
    }
  }

  .about-us-container {
    margin-top: 20px;
    background-color: #e3f2fd; // Light blue background for team section
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .about-us-content {
      h3 {
        font-size: 3em;
        text-align: center;
      }

      p {
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 50px;
      }
    }

    .team-section {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .team-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        background-color: #fff; // White background for each team box
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-5px); // Hover effect to lift the box
        }

        .team-member {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 20px;

          img {
            height: 20vh;
            margin-right: 15px;
          }

          &:hover img {
            transform: scale(1.1); // Zoom in effect on hover over images
            transition: transform 0.3s ease;
          }

          .member-info {
            h4 {
              font-size: 1.2em;
            }
            p {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}
