// HOME

.home {
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .image-section {
    width: 100%;
    object-position: bottom;
    object-fit: cover;
    height: 60vh;

    .home-card {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      padding: 0;

      &:hover {
        // You can add a shadow, change background color, or any other effect
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
      }

      .card-content {
        justify-content: space-between;
        width: 100%;

        .home-image {
          height: 50%;
          max-height: 50%;
          max-width: 100%;
          vertical-align: middle;
        }

        .slogan-flex {
          padding: 150px 100px;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          flex-direction: column;
          word-wrap: break-word;
        }

        .slogan-text {
          color: rgb(64, 150, 255, 0.55);
        }
      }
    }
  }

  .home-paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center; // This will center-align the child elements horizontally
    text-align: left; // This will center-align the text within the child elements

    height: fit-content;
    padding: 150px;
  }

  .home-paragraph-title {
    h1 {
      // Style for main title (h1)
      margin-bottom: 40px; // Adds space below the title
      padding-bottom: 10px; // Adds padding below the title for the line
      text-align: center;
    }

    p {
      margin-top: 20px; // Adds space above the paragraph
      margin-bottom: 20px; // Adds space below the paragraph
      line-height: 1.7; // Increases the line height for better readability
      max-width: 800px; // You can set a max-width to control the text block width
    }
  }

  .homepage-consultation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 900px;

    .fort-myers-image {
      position: relative;
      max-width: 100%;
      min-height: 100%;
      filter: brightness(40%); // Adjust the percentage to control the darkness
    }

    .homepage-consultation-overlay {
      position: relative;
      color: white;
      bottom: 600px;
      text-align: center;
      font-weight: bold;
    }

    .homepage-consultation-title {
      margin-right: 5vh;
    }

    .homepage-consultation-text {
      font-size: 20px;
      text-decoration: underline;
      padding: 10px 10px 0px 10px;
    }

    .homepage-consultation-text-2 {
      font-size: 20px;
      padding: 5px 10px 10px 10px;
      margin-bottom: 40px;
      margin-top: 10px;
    }

    .homepage-consultation-button {
      background-color: red;
      color: white;
      padding: 20px;
      border: none;
      flex-direction: column;
      border-radius: 20px;
      cursor: pointer;
      align-items: center;
      font-size: 20px;
      text-decoration: none; // Remove the default underline from links

      &:hover {
        background-color: darken(
          lightcoral,
          10%
        ); // Darken the button color on hover
      }
    }
  }
}
