// HOME

.home {
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .image-section {
    width: 100%;
    object-position: bottom;
    object-fit: cover;
    height: 60vh;

    .home-card {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      padding: 0;

      &:hover {
        // You can add a shadow, change background color, or any other effect
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
      }

      .card-content {
        justify-content: space-between;
        width: 100%;

        .home-image {
          height: 50%;
          max-height: 50%;
          max-width: 100%;
          vertical-align: middle;
        }

        .slogan-flex {
          padding: 150px 100px;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          flex-direction: column;
          word-wrap: break-word;
        }

        .slogan-text {
          color: rgb(64, 150, 255, 0.55);
        }
      }
    }
  }

  .homepage-consultation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 900px;

    .fort-myers-image {
      position: relative;
      max-width: 100%;
      min-height: 100%;
      filter: brightness(40%); // Adjust the percentage to control the darkness
    }

    .homepage-consultation-overlay {
      position: relative;
      color: white;
      bottom: 600px;
      text-align: center;
      font-weight: bold;
    }

    .homepage-consultation-title {
      margin-right: 5vh;
    }

    .homepage-consultation-text {
      font-size: 20px;
      text-decoration: underline;
      padding: 10px 10px 0px 10px;
    }

    .homepage-consultation-text-2 {
      font-size: 20px;
      padding: 5px 10px 10px 10px;
      margin-bottom: 40px;
      margin-top: 10px;
    }

    .homepage-consultation-button {
      background-color: red;
      color: white;
      padding: 20px;
      border: none;
      flex-direction: column;
      border-radius: 20px;
      cursor: pointer;
      align-items: center;
      font-size: 20px;
      text-decoration: none; // Remove the default underline from links

      &:hover {
        background-color: darken(
          lightcoral,
          10%
        ); // Darken the button color on hover
      }
    }
  }

  // FAQ Styles
  .faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;

    .faq-card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 550px;
      margin: 20px;

      .faq-header {
        padding: 20px;
        background-color: #f5f5f5;

        h2 {
          font-size: 24px;
          margin: 0;
        }
      }

      .faq-accordion {
        .ant-collapse-item {
          .ant-collapse-header {
            font-size: 16px;
            font-weight: 500;
          }

          .ant-collapse-content {
            .ant-collapse-content-box {
              padding: 15px;
            }
          }
        }
      }
    }
  }

  // About Us Styles
  .service-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .service-image-wrapper {
      max-width: 100%; // Ensures the wrapper doesn't exceed the width of the container
      overflow: hidden; // Ensures the image doesn't overflow the wrapper
      margin-bottom: 40px;

      .service-image {
        max-width: 100%; // Ensures the image is responsive and doesn't overflow
        max-height: 350px;
        height: auto;
        display: auto;
        margin-bottom: -15px;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transform: translateY(-5px);
        }
      }
    }
    .service-content {
      position: relative;
      z-index: -1;
      display: inline-block;
      text-align: left;
      padding: 55px 25px;
      margin-top: -100px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 900px;

      h2 {
        color: #d32f2f;
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 1rem;
        z-index: 2;
        position: relative;
      }

      p {
        font-size: 1rem;
        color: #333;
        z-index: 2;
        position: relative;
        padding: 20px;
      }
    }
  }
}
