// service-boxes.scss

.service-section {
  min-height: 50vh;
  padding: 12px 0;
  background: linear-gradient(to right, #f5f5f5, #e0e0e0);
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark {
    background: linear-gradient(to right, #2c2c2c, #1a1a1a);
  }

  .service-container {
    margin: 0 auto; // This will center the container horizontally
    padding: 0 16px;
    max-width: 1200px;

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    .service-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .service-box {
        display: flex;
        flex-direction: column;
        padding: 24px;
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        border: 1px solid #d1d1d1;
        width: 80%;

        &.dark {
          background: #353535;
        }

        .service-icon {
          width: 90%; // or the width you desire
          height: 100%; // or the height you desire
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; // centers the background image
          align-self: center;
          margin: -15px auto 5px auto; // negative top margin to make it float above
        }

        .service-heating-cooling,
        .service-icon {
        }

        .service-maintenance .service-icon {
        }

        &.service-air-quality {
          // Specific styles for Air Quality box, if needed
        }

        .service-content {
          flex-grow: 1;

          .service-title {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 16px;
          }

          .service-description {
            text-align: center;
            color: #808080;

            &.dark {
              color: #b0b0b0;
            }
          }
        }

        .service-action {
          margin-top: 24px;

          .service-button {
            width: 100%;
          }
        }
      }
    }
  }
}
