.layout {
  height: 100vh;

  .site-layout-background {
    background: #fff;
  }

  .site-layout {
    padding: 0 24px 24px;
  }

  .content-area {
    padding: 24px;
    margin: 0;
    minheight: 280px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0; // If needed, adjust the margin of the header

      p {
        font-size: 0.5em;
        font-weight: 400;
      }
    }
  }

  .menu {
    height: 100%;
    border-right: 0;
  }

  .category-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;

    &.red {
      background-color: #ffcccc;
      color: #ff4d4f;
    }
  }
}
